<p>トップページ</p>
<% if user_signed_in? && current_user.role == "admin" %>
  <!-- 管理者にのみ表示 -->
  <%= link_to rails_admin_path do %>
    <button type="button" class="btn btn-primary">管理者用ページはこちら！</button>
  <% end %>
<% end %>