<div class="container ml-3">
  <h2>店舗管理</h2>
  <div class="d-flex flex-column">
    <label class="nagoyameshi-sidebar-category-label">店舗一覧</label>
    <label class="nagoyameshi-sidebar-category-label">カテゴリ一覧</label>
  </div>

  <h2>会員管理</h2>
  <div class="d-flex flex-column">
    <label class="nagoyameshi-sidebar-category-label">会員一覧</label>
  </div>

  <h2>データ管理</h2>
  <div class="d-flex flex-column">
    <label class="nagoyameshi-sidebar-category-label">売上</label>
    <label class="nagoyameshi-sidebar-category-label">会員数</label>
    <label class="nagoyameshi-sidebar-category-label">予約数</label>
    <label class="nagoyameshi-sidebar-category-label">店舗数</label>
  </div>

  <h2>会社情報</h2>
  <div class="d-flex flex-column">
    <label class="nagoyameshi-sidebar-category-label">会社概要</label>
    <label class="nagoyameshi-sidebar-category-label">利用規約</label>
  </div>
</div>