<div class="container mt-5">
  <p class="mb-5 fs-4 fw-bolder text-center">プレミアム会員になるとできること</p>
  <div class="d-flex justify-content-center">
    <ul class="list-group col-4 fw-semibold ">
      <li class="list-group-item">
        店舗の予約
      </li>
      <li class="list-group-item">
        店舗のお気に入り登録
      </li>
      <li class="list-group-item">
        店舗レビュー投稿
      </li>
    </ul>
  </div>
  <%= link_to 'トップへ戻る', root_path, class:"mt-5 d-flex justify-content-center text-decoration-none links" %>
</div>
