<table>
  <tr>
    <th>店舗名</th>
    <th>カテゴリ</th>
    <th>詳細</th>
  </tr>
<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= restaurant.name %></td>
    <td><%= restaurant.category_id %></td>
    <td><%= link_to "Show", restaurant_path(restaurant) %></td>
  </tr>
<% end %>
</table>