@font-face {
  font-family: YuGo;
  src: local(YuGo-Medium);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: YuGo;
  src: local(YuGo-Bold);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

h1 {
  font-family: YuGo;
  font-size: 26px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.13px;
}

h2 {
  font-family: YuGo;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

h3 {
  font-family: YuGo;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.04px;
}

big {
  font-family: YuGo;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.08px;
}

body {
  font-family: YuGo;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.11px;
}

caption {
  font-family: YuGo;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.08px;
}

label {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}

.nagoyameshi-login-input {
  border-radius: 2px;
  border: solid 1px #b2b2b2;
  background-color: #ffffff;
}

.nagoyameshi-check-label {
  font-family: YuGo;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.nagoyameshi-require-input-label {
  border-radius: 1px;
  background-color: #e2001b;
}

.nagoyameshi-require-input-label-text {
  font-family: YuGo;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.nagoyameshi-submit-button {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b2b2b2;
  color: #ffffff;
  background-color: #d66b00;
}

.nagoyameshi-login-text {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d66b00;
}

.nagoyameshi-error-message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #e3342f;
}

// header

.nagoyameshi-header-container {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.nagoyameshi-header-search-input {
  border: solid 1px #e5e5e5;
}

.nagoyameshi-header-search-button {
  background-color: #d66b00;
}

.nagoyameshi-header-search-icon {
  color: #ffffff;
}

.nagoyameshi-header-fav-icon {
  color: #191919;
}

.nagoyameshi-header-shoppingcart-icon {
  color: #ffffff;
}

.nagoyameshi-sidebar-category-label {
  width: 156px;
  height: 20px;
  font-family: YuGo;
  font-size: 13px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #191919;
}

.review-score-color {
  color: #d66b00;
}

.review-score-color:focus {
  color: #d66b00;
}

.nagoyameshi-like-button {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b2b2b2;
  color: #ffffff;
  background-color: #d66b00;
}

.nagoyameshi-unlike-button {
  font-family: YuGo;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b2b2b2;
  color: #ffffff;
  background-color: #19191988;
}
